retrieve_sensor_data.json
[
    {
        "id": "1004aad07d3f3d66",
        "type": "subflow",
        "name": "Remo API Request",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 80,
                "wires": [
                    {
                        "id": "9beda1f030452c96"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 80,
                "wires": [
                    {
                        "id": "370d4cd565461064",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 700,
            "y": 140,
            "wires": [
                {
                    "id": "b591a68066bd501d",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "370d4cd565461064",
        "type": "http request",
        "z": "1004aad07d3f3d66",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "b591a68066bd501d"
            ]
        ]
    },
    {
        "id": "9beda1f030452c96",
        "type": "change",
        "z": "1004aad07d3f3d66",
        "name": "inject headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t    \"Authorization\": ($flowContext(\"$parent.accessToken\")),\t    \"Content-Type\": (method = 'POST' ? 'application/x-www-form-urlencoded' : 'application/json')\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 80,
        "wires": [
            [
                "370d4cd565461064"
            ]
        ]
    },
    {
        "id": "b591a68066bd501d",
        "type": "change",
        "z": "1004aad07d3f3d66",
        "name": "extract status",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "statusCode & \" \" & headers.`x-rate-limit-remaining` & \"/\" & headers.`x-rate-limit-limit`",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "adf310c0a4abb620",
        "type": "tab",
        "label": "retrieve_sensor_data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "398e07f704a604df",
        "type": "inject",
        "z": "adf310c0a4abb620",
        "name": "appliances",
        "props": [
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://api.nature.global/1/appliances",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "aa710a060ebbc583"
            ]
        ]
    },
    {
        "id": "a4f50d84ccd6b875",
        "type": "debug",
        "z": "adf310c0a4abb620",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "bf61414d27408edc",
        "type": "credentials",
        "z": "adf310c0a4abb620",
        "name": "access token",
        "props": [
            {
                "value": "accessToken",
                "type": "msg"
            }
        ],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "86bd1f7d671be076"
            ]
        ]
    },
    {
        "id": "86bd1f7d671be076",
        "type": "change",
        "z": "adf310c0a4abb620",
        "name": "prepend Bearer",
        "rules": [
            {
                "t": "set",
                "p": "accessToken",
                "pt": "flow",
                "to": "\"Bearer \" & accessToken",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "8ed3034ec4493b7c",
        "type": "inject",
        "z": "adf310c0a4abb620",
        "name": "load Access Token",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "bf61414d27408edc"
            ]
        ]
    },
    {
        "id": "aa710a060ebbc583",
        "type": "subflow:1004aad07d3f3d66",
        "z": "adf310c0a4abb620",
        "name": "",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "a4f50d84ccd6b875"
            ]
        ]
    },
    {
        "id": "4703d9411f0650bb",
        "type": "inject",
        "z": "adf310c0a4abb620",
        "name": "devices",
        "props": [
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://api.nature.global/1/devices",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "b9330b277fa2ef3c"
            ]
        ]
    },
    {
        "id": "b9330b277fa2ef3c",
        "type": "subflow:1004aad07d3f3d66",
        "z": "adf310c0a4abb620",
        "name": "",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "5b27472bd2ba3019",
                "bdef40c4d6cb6641"
            ]
        ]
    },
    {
        "id": "5b27472bd2ba3019",
        "type": "debug",
        "z": "adf310c0a4abb620",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "81d56a84e30f66fd",
        "type": "debug",
        "z": "adf310c0a4abb620",
        "name": "デバイスID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "bdef40c4d6cb6641",
        "type": "change",
        "z": "adf310c0a4abb620",
        "name": "デバイス抽出",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\t    name=\"わんこなの！\" \t    and \t    users[\t        nickname=\"Kenta Ida\" \t        and \t        superuser=true\t    ]\t].id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "81d56a84e30f66fd",
                "3c7b6562d65f890b"
            ]
        ]
    },
    {
        "id": "3c7b6562d65f890b",
        "type": "change",
        "z": "adf310c0a4abb620",
        "name": "devices/appliances URL構築",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.nature.global/1/devices/\" & payload & \"/appliances\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "GET",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 200,
        "wires": [
            [
                "45e1cc9bf63d0c22"
            ]
        ]
    },
    {
        "id": "45e1cc9bf63d0c22",
        "type": "subflow:1004aad07d3f3d66",
        "z": "adf310c0a4abb620",
        "name": "",
        "x": 990,
        "y": 200,
        "wires": [
            [
                "6810d0567874efeb",
                "7d67625c553af4ae"
            ]
        ]
    },
    {
        "id": "6810d0567874efeb",
        "type": "debug",
        "z": "adf310c0a4abb620",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 200,
        "wires": []
    },
    {
        "id": "7d67625c553af4ae",
        "type": "change",
        "z": "adf310c0a4abb620",
        "name": "照明家電ID抽出",
        "rules": [
            {
                "t": "set",
                "p": "lightApplianceId",
                "pt": "flow",
                "to": "payload[\t    nickname=\"照明\" \t].id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2d97b19709d5321f",
        "type": "subflow:1004aad07d3f3d66",
        "z": "adf310c0a4abb620",
        "name": "",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "5beed0ffbff8e2fc"
            ]
        ]
    },
    {
        "id": "5beed0ffbff8e2fc",
        "type": "debug",
        "z": "adf310c0a4abb620",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 460,
        "wires": []
    },
    {
        "id": "4eb52e32b027821c",
        "type": "inject",
        "z": "adf310c0a4abb620",
        "name": "照明OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"button\": \"off\"}",
        "payloadType": "json",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "3e4f7669b78b7aab"
            ]
        ]
    },
    {
        "id": "3e4f7669b78b7aab",
        "type": "change",
        "z": "adf310c0a4abb620",
        "name": "照明URL構築",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://api.nature.global/1/appliances/\" & $flowContext(\"lightApplianceId\") & \"/light\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 460,
        "wires": [
            [
                "2d97b19709d5321f"
            ]
        ]
    },
    {
        "id": "ee33782cd2897354",
        "type": "inject",
        "z": "adf310c0a4abb620",
        "name": "照明ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"button\": \"on\"}",
        "payloadType": "json",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "3e4f7669b78b7aab"
            ]
        ]
    },
    {
        "id": "94c09bfc396043ea",
        "type": "inject",
        "z": "adf310c0a4abb620",
        "d": true,
        "name": "センサー更新",
        "props": [
            {
                "p": "method",
                "v": "GET",
                "vt": "str"
            },
            {
                "p": "url",
                "v": "https://api.nature.global/1/devices",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "24eae90c7feeeb05"
            ]
        ]
    },
    {
        "id": "24eae90c7feeeb05",
        "type": "subflow:1004aad07d3f3d66",
        "z": "adf310c0a4abb620",
        "name": "",
        "x": 330,
        "y": 600,
        "wires": [
            [
                "d435ebfb0b218fb4"
            ]
        ]
    },
    {
        "id": "d435ebfb0b218fb4",
        "type": "change",
        "z": "adf310c0a4abb620",
        "name": "センサーデータ抽出",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[\t    name=\"自宅Remo3\" \t    and \t    users[\t        nickname=\"Kenta Ida\" \t        and \t        superuser=true\t    ]\t].newest_events",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 600,
        "wires": [
            [
                "54892d2babae4dca",
                "01e7b2a6042da292"
            ]
        ]
    },
    {
        "id": "54892d2babae4dca",
        "type": "debug",
        "z": "adf310c0a4abb620",
        "name": "センサーデータ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "\"室温 \" & payload.te.val & \" 湿度 \" & payload.hu.val & (payload.mo.created_at ? \" 人感 \" & (($millis() - $toMillis(payload.mo.created_at))/1000) & \"秒前\" : \"\")",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 780,
        "y": 600,
        "wires": []
    },
    {
        "id": "01e7b2a6042da292",
        "type": "switch",
        "z": "adf310c0a4abb620",
        "name": "最終人感秒数",
        "property": "payload.mo.created_at ? (($millis() - $toMillis(payload.mo.created_at))/1000) : null",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "gt",
                "v": "120",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "120",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 780,
        "y": 540,
        "wires": [
            [],
            [
                "900eb59ebe947d6b"
            ],
            [
                "72dd8523751cbf4c"
            ]
        ]
    },
    {
        "id": "900eb59ebe947d6b",
        "type": "change",
        "z": "adf310c0a4abb620",
        "name": "照明OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"button\": \"off\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 520,
        "wires": [
            [
                "06fa7aca42be1750"
            ]
        ]
    },
    {
        "id": "72dd8523751cbf4c",
        "type": "change",
        "z": "adf310c0a4abb620",
        "name": "照明ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"button\": \"on\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 560,
        "wires": [
            [
                "06fa7aca42be1750"
            ]
        ]
    },
    {
        "id": "06fa7aca42be1750",
        "type": "link out",
        "z": "adf310c0a4abb620",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "ac2fcdf44cee7661"
        ],
        "x": 1085,
        "y": 540,
        "wires": []
    },
    {
        "id": "ac2fcdf44cee7661",
        "type": "link in",
        "z": "adf310c0a4abb620",
        "name": "link in 1",
        "links": [
            "06fa7aca42be1750"
        ],
        "x": 135,
        "y": 400,
        "wires": [
            [
                "3e4f7669b78b7aab"
            ]
        ]
    }
]